html {
	background-color: rgb(240, 240, 240);
}
#_1_container {
	background-color: black;
	width: 75%;
	margin: auto;
	padding: 5px 15px 5px 15px;
}
._1_col_1{
	background-color: green;
}
._1_col_2{
	background-color: orange;
}
._1_col_3{
	background-color: red;
}
._1_col_4{
	background-color: white;
}