/* Style the navigation bar */

.navbar {
    width: 100%;
    background-color: #555;
    overflow: auto;
}


/* Navbar links */

.navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
}


/* Navbar links on mouse-over */

.navbar a:hover {
    background-color: #000;
}


/* Current/active navbar link */

.active {
    background-color: #5fbae9;
}


/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */

@media screen and (max-width: 500px) {
    .navbar a {
        float: none;
        display: block;
    }
}

#menu {
    margin-bottom: 5%;
}

.operation-button {
    background-color: #5fbae9;
    border: 1px solid #5fbae9;
    color: #343a40;
}